.header{
  padding: 20px 50px;
  text-align: right;
}

.sign-up, 
.sign-in,
.link-to-top,
.link-to-reservation,
.sign-out{
  text-decoration: none;
  color: black;
  margin-right: 50px;
}

.sign-up:hover, 
.sign-in:hover,
.link-to-top:hover,
.link-to-reservation:hover,
.sign-out:hover{
  color: blue;
}